name: docker-github-actions

# Trigger the workflow on push or pull request,
# but only for the main branch
  
on: 
  push:
    branches:
      - main
  
  pull_request:
  
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
      - uses: actions/checkout@v2
      
      - name: Login to Dockerhub
      - uses: docker/login-action@v2
      - with:
         username: ${{ secrets.DOCKER_HUB_USERNAME }}
         password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Build and push
      - uses: docker/build-push-action@v3
        with:
           context: .
           file: ./Dockerfile
           push: true
           tags: ${{ secrets.DOCKER_HUB_USERNAME }}/scraper:latest
